# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Hard wrap selected text'
      'command': 'hard-wrap:reflow-selection'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'hard-wrap'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'hard-wrap:reflow-selection'
        }
      ]
    ]
  }
]
